@import '~office-ui-fabric-react/dist/sass/References.scss';
.eitAuthenticatedEditorWebPart {
    .webpartTitle {
        display: block;
        font-size: 28px;
        margin-bottom: 8px;
        font-weight: 100;
    }
}